extends ../_layouts/default

block vars
  -path = ".."
  -pageID = "kb"
  -pageTitle = "HTMLCODING Knowledge Base"
  -pageDescription = "HTMLCODING Knowledge Base"
  -pageKeywords = ""
  -imgPC = path+"/img/kb/"
  -imgSP = path+"/img/kb/sp/"
  -imgCommonPC = path+"/img/common/"
  -imgCommonSP = path+"/img/common/sp/"

block container

  section.section-common-keyvisual
    .wrapper
      h1.keyvisual-title Knowledge Base

  +breadcrumbCommon([{href: "/", label: "Home"}, {label: "Knowledge Base"}])

  section.section-kb-general
    .wrapper
      ul.list-kb
        li
          a(href="/kb/guidelines.html")
            h2.item-title Guidelines
            p.item-text Coding standards are a set of rules and guidelines that ensure consistency, readability, maintainability, and reliability in development.
        li
          a(href="/kb/templates")
            h2.item-title Templates
            p.item-text A collection of code templates
