extends ../_layouts/default

block vars
  -path = ".."
  -pageID = "kb"
  -pageTitle = "HTMLCODING Knowledge Base"
  -pageDescription = "HTMLCODING Knowledge Base"
  -pageKeywords = ""
  -imgPC = path+"/img/kb/"
  -imgSP = path+"/img/kb/sp/"
  -imgCommonPC = path+"/img/common/"
  -imgCommonSP = path+"/img/common/sp/"

block container

  section.section-common-keyvisual
    .wrapper
      h1.keyvisual-title Knowledge Base

  section.section-kb-general
    .wrapper
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non commodi asperiores, perferendis ipsam in qui illum reiciendis voluptatibus illo culpa nemo accusamus iusto, ipsa, incidunt libero laboriosam repellat eius deserunt!
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non commodi asperiores, perferendis ipsam in qui illum reiciendis voluptatibus illo culpa nemo accusamus iusto, ipsa, incidunt libero laboriosam repellat eius deserunt!
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non commodi asperiores, perferendis ipsam in qui illum reiciendis voluptatibus illo culpa nemo accusamus iusto, ipsa, incidunt libero laboriosam repellat eius deserunt!
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non commodi asperiores, perferendis ipsam in qui illum reiciendis voluptatibus illo culpa nemo accusamus iusto, ipsa, incidunt libero laboriosam repellat eius deserunt!
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non commodi asperiores, perferendis ipsam in qui illum reiciendis voluptatibus illo culpa nemo accusamus iusto, ipsa, incidunt libero laboriosam repellat eius deserunt!
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non commodi asperiores, perferendis ipsam in qui illum reiciendis voluptatibus illo culpa nemo accusamus iusto, ipsa, incidunt libero laboriosam repellat eius deserunt!
