mixin breadcrumbCommon(data)
  nav.breadcrumb-common&attributes(attributes)
    ol.wrapper
      each item in data
        li.breadcrumb-item
          if(item.href)
            a.trans(href=item.href)!=item.label
          else
            span!=item.label
