@charset "utf-8";
@use "../_base/base" as *;

.btn {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    transition: opacity ease 0.25s;
    opacity: 0.8;
  }

  &::before {
    content: "";
    display: block;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  &.ico-envelope::before {
    background-image: url("../img/common/icon_envelope_l.svg");
  }

  &.ico-send::before {
    background-image: url("../img/common/icon_send_l.svg");
  }

  &.ico-calculator::before {
    background-image: url("../img/common/icon_calculator_l.svg");
  }

  &.btn-primary {
    background: $color-primary;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  }
}

@include desktop {
  .btn {
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 20px;

    &::before {
      width: 1.2em;
      height: 1.2em;
    }
  }
}

@include mobile {
  .btn {
    padding: 0.1rem 0.2rem;
    border-radius: 0.1rem;
    font-size: 0.16rem;

    &::before {
      width: 1.2em;
      height: 1.2em;
    }
  }
}
