@charset "utf-8";
@use "../_base/base" as *;

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  transition:
    background ease 0.5s,
    padding ease 0.25s;
  background: #fff;

  .header-logo {
    display: block;
    position: relative;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: url("../img/common/logo_l.svg") 0 0 / 100% auto no-repeat;
    }
  }

  .header-nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      font-weight: 400;
      letter-spacing: 0.05em;
      line-height: 1;

      &.is-current a {
        color: $color-primary;
      }
    }

    a {
      transition: color ease 0.25s;
      color: #666;
      text-decoration: none;
    }
  }

  &.is-transparent {
    background: transparent;
    box-shadow: none;

    .header-logo {
      img {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }

    .header-nav {
      li:not(.is-current) a:not(:hover) {
        color: #fff;
      }
    }
  }
}

@include desktop {
  header {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
    }

    .header-logo {
      width: 300px;
      transition: opacity ease 0.25s;

      &:hover {
        opacity: 0.8;
      }
    }

    .header-nav {
      ul {
        display: flex;
        margin: 0;
        padding: 0;
      }

      li {
        font-size: 18px;

        &:not(:first-child) {
          margin-left: 32px;
        }
      }

      a {
        &:hover {
          color: $color-primary;
        }
      }
    }

    .header-buttons {
      .btn {
        height: 48px;
        padding: 15px;
        border-radius: 8px;
        background: #222;
        font-size: 18px;
      }
    }

    &.is-transparent {
      padding-top: 20px;
    }

    .button-menu {
      display: none;
    }
  }
}

@include mobile {
  header {
    box-shadow: 0 0.03rem 0.06rem rgba(0, 0, 0, 0.15);

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 0.8rem;
    }

    .header-logo {
      width: 2.2rem;
      height: 0.24rem;

      img {
        display: block;
        width: 2.2rem;
        height: 0.24rem;
      }

      &::after {
        background-size: 2.2rem 0.24rem;
      }
    }

    .header-nav {
      display: block;
      position: fixed;
      z-index: 1000;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      padding-top: 0.8rem;
      transition: opacity ease 0.5s;
      opacity: 0;
      background: rgba(0, 0, 0, 0.9);
      pointer-events: none;

      li {
        font-size: 0.16rem;
      }

      a {
        display: block;
        padding: 0.2rem 0.1rem;
        color: #fff;
        text-align: center;
      }
    }

    .header-buttons {
      display: none;

      .btn {
        height: 50px;
        padding: 20px;
      }
    }

    .button-menu {
      position: fixed;
      z-index: 2000;
      top: 0.4rem;
      right: 0.2rem;
      width: 0.4rem;
      height: 0.4rem;
      overflow: hidden;
      transform: translateY(-50%);
      color: transparent;
      white-space: nowrap;
      pointer-events: auto;

      span,
      span::after,
      span::before {
        position: absolute;
        width: 0.4rem;
        height: 0.04rem;
        background-color: #222;
      }

      span {
        top: 50%;
        right: auto;
        bottom: auto;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: background-color 0.2s;
      }

      span::after,
      span::before {
        content: "";
        top: 0;
        left: 0;
        backface-visibility: hidden;
        transition: transform 0.2s;
      }

      span::before {
        transform: translateY(-0.1rem);
      }

      span::after {
        transform: translateY(0.1rem);
      }
    }

    &.is-transparent {
      .button-menu {
        span,
        span::after,
        span::before {
          background-color: #fff;
        }
      }
    }

    &.nav-is-visible {
      .button-menu {
        span {
          background-color: transparent;

          &::before,
          &::after {
            background-color: #fff;
          }

          &::before {
            transform: rotate(-45deg);
          }

          &::after {
            transform: rotate(45deg);
          }
        }
      }

      .header-nav {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}
