@charset "utf-8";
@use "../_base/base" as *;

.post {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5em;
    color: #222;
  }

  p {
    &.is-compact {
      margin-bottom: 0.5em;
    }
  }

  em,
  i {
    font-style: italic;
  }

  strong,
  b {
    font-weight: 700;
  }

  a {
    color: #b17d00;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  code:not([class*="language-"]) {
    padding: 0.05em 0.2em 0.1em;
    border: 1px solid rgb(228, 231, 235);
    border-radius: 0.02rem;
    background-color: rgba(38, 50, 56, 0.04);
    color: #b17d00;
    font-family: Courier, monospace;
    word-break: break-word;
    vertical-align: middle;
  }

  pre[class*="language-"] {
    margin-bottom: 1.5em;
    line-height: 1.6;
  }
}

@include desktop {
  .post {
    pre[class*="language-"] {
      max-height: 500px;
      font-size: 16px;
    }
  }
}

@include mobile {
  .post {
    pre[class*="language-"] {
      max-height: 3.35rem;
      font-size: 0.13rem;
    }
  }
}

.post-cover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.post-meta {
  margin-bottom: 3em;
  color: #707070;

  .post-read-time {
    &::before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-top: -0.05em;
      margin-right: 0.25em;
      background: url("../img/common/icon_watch.svg") 50% 50% / 100% auto no-repeat;
      vertical-align: middle;
    }
  }
}

.post-separator {
  display: block;
  height: 5em;
}
